     body {
            font-family: 'Inter', sans-serif;
        }
        .hero-bg {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('capacriancas.png');
            background-size: cover;
            background-position: center;
        }